nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

/* Header related style */

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

.banner {
    padding: 30px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner.profile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
}

.text-primary {
    color: var(--white-color, #FD6E0A);
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    padding: 15px 35px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: var(--dark-02, #474747);

}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* main section style */
main {
    max-width: 1140px;
    margin: auto;
    background-color: #f4e5e5;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

main section {
    margin-top: 130px;
}

/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;

    margin: 130px 0px;
}

.section-title {
    color: var #a38383;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;

}

/* what i do section style */
#what-i-do {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 5px;
}

.skill {
    padding: 30px;
    gap: 24px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume colum style */
.aass{
    display: flex;
    margin: 25px;
}
.resume-colum-title {
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style */
.contract,input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: var(--dark-03, #757575);
    border-radius: 10px;
    border: 0px;
    width: 100%;
}
#aa{
    border-radius: 50px;
}
footer{
    display: flex;
    background: #f2c7aa;
    padding: 150px 200px;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}